In [123]:
##

#name:state:attributes
#Sara:california:lawyer,dancer,loves_sushi,female,not sleepy,happy
#Zoe:colorado:dancer,sre,,female, likes_burritos
#Sam:california:not dancer,happy,male,likes_pizza
#Bill:utah:running, bored
#Mary:arizona:mac_user, dancer,loves_math
#Parker:colorado:dancer , likes_pizza, happy
#Joe:california:sre,happy ,enjoys_music
        
##

In [124]:
import pandas as pd

In [125]:
df = pd.read_csv('interviewdata', header=0, sep=":")

In [126]:
df.mask(lambda x: x['attributes'].str.split(',').map(lambda y: y == "dancer"))

     name       state                                         attributes
0    Sara  california  lawyer,dancer,loves_sushi,female,not sleepy,happy
1     Zoe    colorado                 dancer,sre,,female, likes_burritos
2     Sam  california                  not dancer,happy,male,likes_pizza
3    Bill        utah                                     running, bored
4    Mary     arizona                        mac_user, dancer,loves_math
5  Parker    colorado                        dancer , likes_pizza, happy
6     Joe  california                            sre,happy ,enjoys_music

In [127]:
df.rename(columns=lambda x: x.replace(" ", ""), inplace=True)

In [128]:
df.rename(columns=lambda x: x.strip(), inplace=True)

In [129]:
df['attributes'].str.split(",")

0    [lawyer, dancer, loves_sushi, female, not slee...
1             [dancer, sre, , female,  likes_burritos]
2               [not dancer, happy, male, likes_pizza]
3                                    [running,  bored]
4                      [mac_user,  dancer, loves_math]
5                      [dancer ,  likes_pizza,  happy]
6                          [sre, happy , enjoys_music]
Name: attributes, dtype: object

In [130]:
# custom filter to get rows that contain attributes with "dancer" and "happy"
def custom_filter(x):
    happy = False
    dancer = False
    for item in x:
        if item.strip() == ("dancer"):
            happy = True
        elif item.strip() == ("happy"):
            dancer = True
    return happy & dancer

In [131]:
df[df['attributes'].str.split(",").map(lambda x: custom_filter(x))]

     name       state                                         attributes
0    Sara  california  lawyer,dancer,loves_sushi,female,not sleepy,happy
5  Parker    colorado                        dancer , likes_pizza, happy